.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 400px;
    padding-top: 10px;
}

.full-width {
    width: 100%;
}

.row {
    display: flex;
    gap: 1rem;

    mat-form-field {
        flex: 1;
    }
}